.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Like.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  opacity: 0.4;
}

.card__like-button:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 1;
}

.card__like-button_liked {
  background-image: url("../images/Likedheart.svg");
  background-repeat: no-repeat;
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url("../images/Liked-hover.svg");
  background-repeat: no-repeat;
}

.card__trash-button {
  background-image: url("../images/TrashDefault.svg");
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  display: flex;
  margin-top: 10px;
  margin-left: 371px;
  position: absolute;
}

.card__trash-button:hover {
  background-image: url("../images/TrashHover.svg");
  cursor: pointer;
  transition: 0.3s;
}

.card__title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
  margin: 0;
  max-width: 353px;
  padding-top: 12px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
  }

  .card__trash-button {
    margin-left: 246px;
  }
}
